# ============================================================
# Example secrets for the Games Library Card Sensors package.
#
# Copy the entries into your Home Assistant secrets.yaml
# (in your config root) and fill in real values.
#
# Find the values:
#   hass-ip     Your home assistant ip
#   If you changed the paths for the .json lists
#   You need to change them here as well.
# ============================================================

steam_games_list: http://hass-ip:8123/local/steam_games/steam_games.json
retroarch_games_list: http://hass-ip:8123/local/steam_games/retroarch_games.json
